---

---
<article class="rounded-3xl border border-box-border bg-box-bg relative overflow-hidden flex flex-col sm:flex-row">
    <div class="h-full w-1/3">
        <img class="" src="https://www.cuponerapp.com/mexiconoce/wp-content/uploads/2018/01/hamburguesa.jpg" alt="hamburguesa">
    </div>
    <div class="px-5">
        <h2>Test Card</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis saepe ducimus sint laudantium debitis quisquam laborum rem.</p>
        <a href="/testing">Accion</a>
    </div>
</article>