---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import SpecialButton from "../shared/SpecialButton.astro";

export interface Props {
  title:string,
  description?:string,
  people:string,
  price:string,
}
const { title, description, people, price } = Astro.props
let info
if (!description) {
  info = "parrafo de prueba"
} else {
  info = description
}
---

<section class="pb-20 pt-32 lg:pt-36">
  <Container>
    <div
      class="w-full relative py-8 md:py-10 px-6 md:px-8 rounded-2xl bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900"
    >
      <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
      <div class="mx-auto text-center max-w-xl md:max-w-2xl relative">
        <h1 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight font-bold text-heading-1">
          {title}
        </h1>
        <Paragraph className={"pt-10"}>
          {info}
        </Paragraph>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 mt-10">
          <slot/>
        </div>
        <Paragraph className={"pt-10"}>
          {people}
        </Paragraph>
        <Paragraph className={"pt-10"}>
          {price}
        </Paragraph>
        <div class="mx-auto max-w-md sm:max-w-xl pt-10">
          <SpecialButton>
            <div class="relative z-10 flex items-center justify-center text-lg font-semibold text-white pointer-events-none md:text-xl">
              <svg class="mr-3" width="32" height="32" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 5l0 2"></path><path d="M15 11l0 2"></path><path d="M15 17l0 2"></path><path d="M5 5h14a2 2 0 0 1 2 2v3a2 2 0 0 0 0 4v3a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-3a2 2 0 0 0 0 -4v-3a2 2 0 0 1 2 -2"></path></svg>
              Reserva Hoy!
            </div>
          </SpecialButton>
        </div>
      </div>
    </div>
  </Container>
</section>
