---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";
import Paragraph from "../shared/Paragraph.astro";
import { bundlesFood } from "../../utils/bundlesFood";
import FoodArticle from "../cards/FoodArticle.astro";

type bundleFoodProps = {
    id: string,
    name: string,
    image: string,
    price: string,
}
---

<Container>
    <Title> Combos de comida </Title>
    <Paragraph> Disfruta de una gran variedad de comida a tu eleccion </Paragraph>
    <div class="flex overflow-x-scroll snap-x scroll-smooth scrollbar-hide">
        {
            bundlesFood.map((bundle: bundleFoodProps) => {
                return(
                    <FoodArticle image={bundle.image} name={bundle.name} price={bundle.price}/>
                )
            })
        }
    </div>
</Container>