---
import Container from "../components/shared/Container.astro";
import Paragraph from "../components/shared/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="No existe">
    <Container className="relative pt-32 lg:pt-36">
        <img class="w-3/4 pt-16 mx-auto" src="/logos/logo-empresa.svg" alt="logo de empresa">
        <Paragraph>
            <h2 class="text-white text-center mt-8">Esta pagina no existe 😥</h2>
        </Paragraph>
    </Container>
</Layout>