---
import Layout from '../layouts/Layout.astro';
import OnWorkProgress from '../pages/on-work-progress.astro';
---

<Layout title="Sobre Nosotros">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<OnWorkProgress/>
	</main>
</Layout>