---
import Layout from '../layouts/Layout.astro';
import Bundles from '../components/sections/Bundles.astro';
import ExtrasBundles from '../components/sections/ExtrasBundles.astro';
---

<Layout title="Paquetes">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<section class="pt-32">
			<Bundles/>
			<ExtrasBundles/>
		</section>
	</main>
</Layout>