---
import MenuFoodBundles from '../components/sections/MenuFoodBundles.astro';
import MenuFood from '../components/sections/MenuFood.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cafeteria">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<section class="pt-32">
			<MenuFoodBundles/>
			<MenuFood/>
		</section>
	</main>
</Layout>