---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";
const footerNav1 = [
    {
        itemText:"Mision",
        itemLink:"/about-us#mission"
    },
    {
        itemText:"Vision",
        itemLink:"/about-us#vision"
    },
    {
        itemText:"Valores",
        itemLink:"/about-us#values"
    },
    {
        itemText:"Resultados",
        itemLink:"/about-us#achievements"
    }
]

const footerSupport = [
    {
        itemText:"Precios",
        itemLink:"/bundlespage"
    },
    {
        itemText:"Objetos Perdidos",
        itemLink:"/reservations#faq"
    },
    {
        itemText:"FAQ",
        itemLink:"/reservations#faq"
    },
    {
        itemText:"Contacto",
        itemLink:"/reservations#contact"
    }
]

const footerCompany = [
    {
        itemText:"Sobre Nostros",
        itemLink:"/about-us"
    },
    {
        itemText:"Calendario",
        itemLink:"/reservations#calendar"
    },
    {
        itemText:"Trabajos",
        itemLink:"/jobs"
    },
    {
        itemText:"Colaboradores",
        itemLink:"/about-us#partners"
    },
    {
        itemText:"Eventos",
        itemLink:"/reservations#events"
    }
]
const footerLegal = [
    {
        itemText:"Reclamaciones",
        itemLink:"/legal#reclaims"
    },
    {
        itemText:"Politica de Privacidad",
        itemLink:"/legal#Privacy-policy"
    },
    {
        itemText:"Terminos y Condiciones",
        itemLink:"/legal#terms-and-conditions"
    }
]
---
<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">
    <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
    <Container className="pb-8 relative overflow-auto">
        
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"></span>
        <div class="grid grid-cols-2 lg:grid-cols-3 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-1 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <div class="relative w-7 h-7 overflow-auto flex rounded-xl">
                           <img src="/favicon.svg" alt="logo imagina">
                        </div>
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            Imagina
                        </div>
                    </a>
                    <Paragraph className={"mt-8"}>
                        Negocio nacional dedicado al entretenimiento familiar, brindando servicios desde hace mas de 30 años; contamos con la experiencia necesaria para atender y satisfacer las necesidades de nuestros clientes. 
                    </Paragraph>
                </div>

                <!-- social links -->
                <div class="min-h-max flex items-center gap-4 text-heading-3 mt-8">
                    <a href="https://www.facebook.com/imaginatudiversionensenada" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>
                        <span class="sr-only">facebook link</span>
                    </a>

                    <a href="https://www.instagram.com/imaginatudiversionoficial/?img_index=1" class="transition hover:text-heading-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"><path d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216 4.61 4.61 0 0 0-2.633-2.633 6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42 4.607 4.607 0 0 0-2.633 2.633 6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419 4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187.043-.962.056-1.267.056-3.71-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078 1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"/><circle cx="11.994" cy="11.979" r="3.003"/></svg>
                        <span class="sr-only">instagram link</span>
                    </a>
                </div>
            </div>

            <GroupFooterNav>
                <FooterNav title={"Compañia"} navItems={footerCompany}/>
                <FooterNav title={"Metas"} navItems={footerNav1}/>
            </GroupFooterNav>

            <GroupFooterNav>
                <FooterNav title={"Soporte"} navItems={footerSupport}/>
                <FooterNav title={"Legal"} navItems={footerLegal}/>
            </GroupFooterNav>

        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-between items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year">2020</span> Imagina tu diversion. Todos los derechos reservados
                </div>
                <div>
                    Elaborado por <a href="https://github.com/Alberto813" target="_blank" class="font-semibold">Alberto M.R</a>
                </div>
            </div>
        </Container>
    </div>
</footer>
